// $bg-secondary: #ffe19c;
// $bg-primary: #edffd9;
// $primary: #ff784f;
// $secondary: #660073;
// $cyan: #18beba;

//db07de magenta
// ab0303 rosso

// $bg-secondary: #323232;
// $bg-primary: #161616;
// $primary: #db07de;
// $secondary: #660073;
// $cyan: #18beba;

// $bg-secondary: #416d19;
// $bg-primary: #9bcf53;
// $primary: #fff67e;

$bg-secondary: #efedea;
$bg-primary: #fff;
$primary: #fe4a49;
$secondary: #660073;
$cyan: #18beba;
$text-color: #000;
