@use "./partials/variables" as *;

$fa-font-path: "../webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";
@import "bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

.shadowed {
  box-shadow: 0 0.125rem 0.25rem rgba(black, 0.125);
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(black, 0.25);
  }
}

.dark {
  background-color: $bg-primary-darkmode !important;
}

.light {
  background-color: $bg-primary !important;
}

.dark-secondary {
  background-color: $bg-secondary-darkmode !important;
}

.light-secondary {
  background-color: $bg-secondary !important;
}

.image-light {
  background: radial-gradient(ellipse at center, $primary 0%, #ccc 100%);
}

.image-dark {
  background: radial-gradient(ellipse at center, $primary 0%, #3d3c3c 100%);
}

.primary-light {
  background-color: $primary;
}

.primary-dark {
  background-color: $primary-darkmode;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredoka", sans-serif;
}

body {
  font-family: "Libre Franklin", sans-serif;
}
